body{

margin:0;
font-family:Arial;

background:#081421;
color:white;

text-align:center;

display:flex;
flex-direction:column;
align-items:center;

min-height:100vh;

}

header{

margin-top:40px;
margin-bottom:40px;

letter-spacing:2px;

}

h1{

font-size:32px;
color:#cde8ff;

}

/* YEAR BUTTONS */

.yos-container{

display:flex;
flex-direction:column;
gap:35px;

}

.yos-button{

width:420px;
padding:25px;

font-size:22px;
font-weight:bold;

border-radius:12px;

background:#0e2236;

border:2px solid #4db8ff;

color:#cde8ff;

cursor:pointer;

transition:0.3s;

box-shadow:0 0 10px #4db8ff;

}

.yos-button:hover{

transform:scale(1.05);

box-shadow:
0 0 10px #4db8ff,
0 0 25px #4db8ff,
0 0 40px #4db8ff;

}

/* MODULE AREA */

.modules{

display:none;

margin-top:60px;

background:#0e2236;

padding:40px;

border-radius:15px;

box-shadow:0 0 20px rgba(0,0,0,0.5);

}

/* MODULE BUTTONS */

.modules button{

display:block;

margin:15px auto;

padding:18px 40px;

font-size:18px;

border:none;

border-radius:10px;

background:#4db8ff;

color:#081421;

font-weight:bold;

cursor:pointer;

transition:0.25s;

}

.modules button:hover{

transform:scale(1.08);

background:#7fd3ff;

}
