body{
margin:0;
font-family:Arial;
background:linear-gradient(180deg,#0b1f3a,#1e5db3,#ffffff);
color:white;
text-align:center;
}

header{
padding:40px;
}

h1{
font-size:42px;
}

.joke{
font-style:italic;
color:#cfe3ff;
}

button{
padding:15px 35px;
margin:10px;
font-size:18px;
border:none;
border-radius:10px;
cursor:pointer;
background:white;
color:#0b1f3a;
box-shadow:0 6px 15px rgba(0,0,0,0.3);
transition:0.2s;
}

button:hover{
transform:scale(1.08);
background:#4aa3ff;
color:white;
}

.module-section{
display:none;
margin-top:40px;
}

.module{
display:block;
margin:15px auto;
width:350px;
}
